encryption = "gpg"

[data]
    email = "newman@oursky.com"

[git]
    autoCommit = true
    autoPush = true

[gpg]
    recipient = "newman@oursky.com"

{{- if eq .chezmoi.os "darwin" }}
[edit]
    command = "zed"
    args = ["--wait"]
{{ end }}
