{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "gpg"

[data]
    email = {{ $email | quote }}

[git]
    autoCommit = true
    autoPush = true

[gpg]
    recipient = "newman@oursky.com"

{{- if eq .chezmoi.hostname "oursky" }}
[edit]
    command = "zed"
    args = ["--wait"]
{{ end }}
