{
    "parser": "babel-eslint",
    "extends": ["vue", "standard"],
    "plugins": [
        "react",
        "vue",
	"flowtype"
    ],
    "rules": {
        "no-unused-vars": "off",
        "indent": ["warn", 2],
        "object-curly-spacing": "off"
    }
}
