*
!/.gitignore
!/.gitconfig
!/.xinitrc
!/.bashrc
!/.zshrc
/.oh-my-zsh/*
!/.vimrc
!/.spacemacs
!/Wallpaper/*
/Wallpaper/*.jpg
/Wallpaper/*.png
!/.config/
!/.config/i3/*
!/.config/i3/scripts/*.*
!/.config/nvim/init.vim
!/.config/nyaovim/nyaovimrc.html
!/.conky/
!/.compton.conf
!/.setup
