[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  please = push --force-with-lease
  unstage = reset HEAD
	append = town append
	hack = town hack
	kill = town kill
	new-pull-request = town new-pull-request
	new-pr = town new-pull-request
	prepend = town prepend
	prune-branches = town prune-branches
	rename-branch = town rename-branch
	repo = town repo
	ship = town ship
	sync = town sync
[commit]
  template = ~/.gitmessage
[pretty]
  colored = format:%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset
[user]
	email = newman.kcchow@gmail.com
	name = inizio
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	default = simple
[status]
	submoduleSummary = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
