*
!/.gitignore
!/.gitconfig
!/.xinitrc
!/.bashrc
!/.zshrc
/.oh-my-zsh/*
!/.vimrc
!/Wallpaper/*
/Wallpaper/*.jpg
/Wallpaper/*.png
!/.config/i3/*
!/.config/nvim/init.vim
!/.config/nyaovim/nyaovimrc.html
!/.conky/*
