# Ignore everything by default
*

# Include git config
!.gitignore
!.gitconfig
!.gitmessage

# Include shell config
!.bashrc
!.zshrc

# Ignore zsh plugins
.oh-my-zsh/*

# Include editor config
!.vimrc
!.spacemacs
!.config/nvim
!.config/nvim/init.vim
!.config/nyaovim
!.config/nyaovim/nyaovimrc.html
!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json

# Include wallpaper generator
!Wallpaper
!Wallpaper/*
!Wallpaper/*/*
Wallpaper/node_modules
Wallpaper/*.jpg
Wallpaper/*.png

# Include user-application config
!.config
!.config/i3
!.config/i3/*
!.config/i3/*/*

# Include compton config
!.compton.conf

# Include conky
!.conky/
!.conky/*
!.conky/*/*

# Include fonts
!.fonts
!.fonts/*
!.fonts.conf

# Include setup script
!.setup
!.setup/*

# Include nodejs config
node_modules
!.eslintrc
!package.json

# Include steam game config
!.steam
!.steam/steam
!.steam/steam/steamapps
!.steam/steam/steamapps/common
!.steam/steam/steamapps/common/Team\ Fortress\ 2
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/*.vpk
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/particles
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/particles/*
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/particles/*/*
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff/*
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff/cfg
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff/cfg/*
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff/scripts
!.steam/steam/steamapps/common/Team\ Fortress\ 2/tf/custom/userstuff/scripts/*

# And of course README
!README.md
